// GENERAL SETTINGS
// ===
body
	padding 5px
	margin 0


// CANVAS SETTINGS
// ===

canvas
	margin-top 12px
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);


// UI SETTINGS
// ===

.Menu,
.Modes
	padding-top 12px
	.btn
		margin-right 5px